*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('webfonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('webfonts/LibreBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Libre Baskerville';
}
.preloader {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
  }
  .preloader .leo-border-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(13, 14, 13);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgb(23, 26, 25) 100%);
    animation: spin3D 1.8s linear 0s infinite;
  }
  
  .preloader .leo-core-1 {
    width: 100%;
    height: 100%;
    background-color: #37474faa;
    border-radius: 50%;
  }
  
  .preloader .leo-border-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(251, 91, 83);
    background: linear-gradient(0deg, rgba(251, 91, 83, 0.1) 33%, rgba(251, 91, 83, 1) 100%);
    animation: spin3D 2.2s linear 0s infinite;
  }
  
  .preloader .leo-core-2 {
    width: 100%;
    height: 100%;
    background-color: #1d2630aa;
    border-radius: 50%;
  }
  
h2{
    font-family: 'Libre Baskerville' !important;
}
#social_side_links {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social_side_links li a {display: block;}

#social_side_links li a img {
	display: block;
	max-width:40px;
  padding: 10px;
}

#social_side_links li a:hover img {
background: rgba(0, 0, 0, .2);
 
    }
  
a{
    text-decoration: none !important;
    color: rgb(3, 3, 3) !important;
    font-weight: 800 !important;
}
a:hover{
    color: #dc3545;
}
i{
    color: rgb(6, 5, 6) !important;
}
ul li{
    list-style: none;
    padding: 0 10px 0 10px;
}
.sec-padd{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.striky-top .sec-padd {
    margin-top: 70px;
}
 .sec-heading h1 {
    font-size: 40px;
    font-weight: 900;
    padding: 10px 0 10px 0;
}
.sec-heading h1 span {
    color: #460583;
    font-size: 25px;
    font-weight: 900;
}
.navbar{
    display: block !important;
}
header{
    max-height: 100px;
    background-color: #f1f5f9;
}
.navbar-brand  h1{
    color: rgb(70, 5, 131);
    font-size: 46px;
    font-weight: 700;
}
.navbar-brand span{
    color: blueviolet;
    font-size: 36px;
}
.navbar-light{
    height: 85px;
}

.hr {
    background: #b50e0e;
    width: 100px;
    height: 2px;
    margin-bottom: 5px;
    margin-top: -5px;
}
.slider-sec .carousel-indicators {
    bottom: 0 !important;
}
.slider-sec{
    position: relative;
    top: 0;
}
.slider-sec .carousel-item img{
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
}
/* Main section Start*/
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    user-select: none;
    mix-blend-mode: screen; 
}
.dark .main img{
   mix-blend-mode: multiply;
    filter: invert(1);
}
.main .main-cont{
    z-index: 2;
    text-align: center;
}
.main h2{
    font-size: 3.5em;
    color: #000;
}
.btn-primary {
    color: #fff !important;
    background-color: #dc354524 !important;
    border-color: #dc3545 !important;
}
.btn-primary {
    color: #000 !important;
    border-color: #dc3545 !important;
}
.img-hover{
    float: left;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    transition: all 0.3s linear 0s;
}
.img-hover:hover{
    background-color: #ffb400;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.img-hover > img {
    width: 100%;
    z-index: -1;
}
.img-hover:hover > img {
    transform: scale(1.1);
}
.img-hover:hover:before{
    background-color: #757471;
}
.img-hover:hover:before {
    opacity: 0.9;
}
.img-hover::before{
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.img-hover .service-details {
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;

}
.service-details > i {
    color: #fff;
    float: left;
    font-size: 70px;
    position: relative;
    text-align: center;
    width: 100%;
}
.service-details h3 {
    color: #ffffff;
    float: left;
    font-size: 24px;
    font-weight: 800;
    margin-top: 9px;
    width: 100%;
}
.service-details .btn {
    background: #e4e1de;
    border: 1px solid transparent;
    display: inline-block;
    float: none;
    margin-top: 0;
    opacity: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 700;
    transform: scale(0);
}

.img-hover:hover .service-details .btn {
    margin-top: 34px;
    opacity: 1;
    padding: 11px 22px;
    transform: scale(1);
}
.about-img-sec{
    position: relative;
}

.about-img-sec img{
    width: 100%;
}

.about-img-sec .img-box1 {
    background: #cbcdcead;
    padding: 20px 40px 20px 40px;
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
}
.about-img-sec .img-box1:hover{
    background-color: #f2fafe;
}
.about-img-sec .img-box1 h3{
    font-size: 24px;
}
.about-img-sec  h3 span {
    font-size: 18px;
    color: #460583;
    margin-left: -7px;
}
.about-img-sec  h2{
    font-size: 20px;
    color: #c60f0f;
}
.about-img-sec .img-box2 {
    background: #cbcdcead;
    padding: 20px 40px 20px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.about-img-sec .img-box2:hover{
    background-color: #f2fafe;
}
.content-sm-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eae5e5;
    padding: 10px 10px 10px 10px;
}
.content-sm-box i{
    color: #b50e0e !important;
    font-size: 36px;
}
.content-sm-box h2{
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}
.btn-primary:focus {
    color: #fff;
    background-color: #eae5e5;
    border-color: #b50e0e;
    box-shadow: none !important;
}
.about-content-sec .btn-primary {
    color: #fff;
    background-color: #eae5e5;
    border-color: #ffbebe;
    width: 175px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f7e1e1 !important;
    border-color: #eae5e5 !important;
}
.service-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hr2{
    background: #b50e0e;
    width: 100px;
    height: 2px;margin: 0 auto;
}
.service-style {
    position: relative;
}
.service-style span img{
    border-radius: 10px;
    width: 100%;
}
.Service-information{
    background: #fcfcfc none repeat scroll 0 0;
    border: 3px solid #fafafa;
    bottom: -130px;
    left: 7px;
    padding: 33px 10px 35px;
    position: absolute;
    text-align: center;
    width: 95%;
    z-index: 1;
    border-radius: 5px;
}
.Service-information > i {
    background: #fcfcfc none repeat scroll 0 0;
    font-size: 35px;
    height: 102px;
    left: 50%;
    padding: 20px 25px;
    position: absolute;
    top: -45px;
    width: 100px;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Service-information > i img{
    width: 50px;
    margin-top: -30px;
}
.Service-information:hover{
    transition: all 0.3s linear 0s;
}
.Service-information h4{
    font-size: 16px;
}

.cout-sec {
    background-image: url(imgs/slider-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0 100px 0;
    padding: 100px 0 235px 0;
    position: relative;
}
.cout-sec::before{
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.cout-box {
    z-index: 2;
    position: relative;
    text-align: center;
}
.icon-wrapper {
    text-align: center;
    border: 1px solid #f2e1e1;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 72px;
}
.count-cont {
    position: absolute;
    top: 125px;
    left: 80px;
}
.icon-wrapper img{
    width: 75px;
}
.cout-box h2 {
    color: #fff;
    padding-top: 10px !important;
    margin: 0 !important;
}
.cout-box p{
    color: #fff;
}


.product-sec {
    padding: 15px 0 70px 0;
    background: #f4f4f4;
}
.bg-box{
	    box-shadow: 0px 0px 20px 0px rgb(24 23 23 / 11%);
    background: #fff;
}
.product-inner-01 {
    z-index: 1;
    overflow: hidden;
    padding: 70px 45px 95px;
    height: 400px;
}
.product-img-sec{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    overflow: hidden;
   transition: 500ms all ease;
}
.product-inner-01 .product-img-sec:before {
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}
.product-inner-01:hover .product-img-sec, .product-inner-01.active .product-img-sec {
    opacity: 1;
    transform: scale(1.3);
}
.product-inner-01:before, .product-inner-01:after {
    top: 38px;
    left: 20px;
    content: "";
    height: 2px;
    width: 100px;
    position: absolute;
    background-color: #efefef;
}
.product-inner-01:after {
    top: 20px;
    width: 2px;
    left: 38px;
    height: 100px;
}
.product-inner-01 .count-no {
    right: 20px;
    bottom: 20px;
    color: #e8e8e8;
    font-size: 50px;
    line-height: 0.75;
    font-weight: 700;
    transition: 500ms all ease;
    font-family: 'Space Grotesk' !important;
}
.product-inner-01 .product-inner-para h2{
	font-size: 22px;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 5px;
	margin-top: 12px;
	color: #000;
		
}
.product-inner-01 .product-inner-para p{
	text-align: center;
    font-size: 14px;
    padding-bottom: 12px;
	color: #000;
}
 .product-inner-01:hover h2{
    color: #fff;
}
 .product-inner-01:hover p{
    color: #fff;
}
.product-inner-01.active h2{
	color: #fff;
}
.product-inner-01.active p{
	color: #fff;
}

.tester_new {
	padding: 20px 0 100px;
}
.tester_new hr {
	width: 100px;
}
.tester_new .carousel-item p {
	color: #666;
	line-height: 28px;
	letter-spacing: 1px;
} 
.tester_new .carousel-item hr {
	width: 100px;
}
.tester_new .carousel-item h5 {
	font-weight: 700;
	margin-bottom: 0;
}
.tester_new .carousel-indicators li {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #c60f0f;
	border: 5px solid #f1f2f3;
	opacity: 0.4;
	box-shadow: 0px 0px 5px 1px #ccc;
	margin: 0 10px;
  cursor:pointer;
}
.carousel-indicators {
    bottom: -90px !important;
}
.tester_new .carousel-indicators .active {
	opacity: 1;
}

footer {
    width: 100%;
    color: #fff;
    background: #252525;
}

.footer-logo h2{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.footer-location{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-location i{
    font-size: 28px;
    color: #c60f0f !important;
    margin-right: 10px;
}
.footer-location h2{
    font-size: 14px;
    font-weight: 900;
}
.footer-location a h2{
    font-size: 14px;
    font-weight: 900;
    color: #fff;
}
.footer-location:hover {
    background: #716f6f;
    padding: 10px 5px 10px 5px;
    height: 65px;
    transition: all 0.3s;
}
.footer-links h2{
    font-size: 18px;
    font-weight: 400;
}
.footer-links li{
    padding: 5px;
}
.footer-links li a{
    color: #fff !important;
}
.footer-bottom p a{
    color: #fff !important;
}
@media (min-width: 320px) and (max-width: 480px) {
    .head-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-collapse {
        background: #f8f9fa;
        padding: 0 10px 0 15px;
    }
    .dropdown-menu{
        background-color: #f8f9fa !important;
    }
    .main h2 {
        font-size: 14px;
        color: #fff;
    }
    .about-content-sec{
        padding-top: 25px;
    }
    .about-content-sec h2{
        font-size: 25px;
        padding-top: 10px;
    }
    .content-sm-box h2 {
        font-size: 17px !important;
    }
    .about-img-sec .img-box1 {
        padding: 0px 15px 0px 15px;
    }
    .about-img-sec .img-box2 {
        padding: 0px 15px 0px 15px;
    }
    .service-style {
        padding: 10px 0 40px 0;
    }
    .Service-information {
        bottom: 0px;
        left: inherit; 
        width: 100%;
    }
    .cout-sec{
        display: none;
    }
  }